---
import Timeline from "../../components/Timeline.tsx";
import BookingCalendar from "../../components/BookingCalendar.tsx";
import WhatsAppButton from "../../components/WhatsAppButton.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const stops = [
  { title: "Introduction", img: "/stops/left/1.jpg", description: "Presentation of the tour, and a quick history quiz to put everyone on the same page!" },
  { title: "Fall",         img: "/stops/left/2.jpg", description: "Discover how Paris fell to the German army in only 35 days of combat..." },
  { title: "Resistance",   img: "/stops/left/3.jpg", description: "Follow the journey of a French female Resistance fighter..." },
  { title: "Liberation",   img: "/stops/left/4.jpg", description: "Learn more about the fights that took place in Paris 81 years ago..." },
];
---

<BaseLayout title="Left-Bank tour">
	<section class="px-6 max-w-5xl mx-auto py-20">
	<h1 class="text-3xl font-bold mb-8">Paris – Left-Bank Tour</h1>

	<div class="grid lg:grid-cols-[2fr_1fr] gap-16">
		<Timeline stops={stops} client:load />

		<aside class="space-y-6">
		<div class="p-6 bg-gray-50 rounded-lg text-sm leading-6">
			<p><strong>Duration:</strong> 2 h</p>
			<p><strong>Distance:</strong> 2.5 km</p>
			<p><strong>Stops:</strong> 4</p>
		</div>

		<BookingCalendar tour="left-bank" client:visible/>

		<WhatsAppButton />
		</aside>
	</div>
	</section>
</BaseLayout>
